.normal {background-color: #919aa2;}
.poison {background-color: #b567ce;}
.grass {background-color: #00c285;}
.fire {background-color: #ff9d55;}
.water {background-color: #5090d6;}
.fighting {background-color: #ce416b;}
.flying {background-color: #89aae3;}
.ground {background-color: #d97845;}
.rock {background-color: #c5b78c;}
.bug {background-color: #8dce0c;}
.ghost {background-color: #5269ad;}
.electric {background-color: #f4d23c;}
.psychic {background-color: #fa7179;}
.ice {background-color: #73cec0;}
.dragon {background-color: #0b6dc3;}
.dark {background-color: #5a5465;}
.steel {background-color: #5a8ea2;}
.fairy {background-color: #ec8fe6;}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pokemon {
  margin: 0.5rem 0px;
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
text-transform: capitalize;
box-shadow:  5px 5px 7px #949494,
             -5px -5px 7px #d7d7d7;
}

.pokemon .number {
  color: #00000069;
  text-align: right;
  font-size: 0.625rem;
}

.pokemon .name {
  margin: 0.5rem 0px;
  font-size: 1.2rem;
}

.pokemon .details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .details .types .type {
  font-size: 0.825rem;
  border-radius: 1rem;
  text-align: center;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  filter: brightness(0.9);
  }

.pokemon .details .types {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pokemon .details img {
  max-width: 50%;
  height: 85px;
  align-items: end;
  align-self: flex-end;
}








@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pokemon .details img{
   max-width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto !important;
    margin: .5rem auto;
    transition: 0.5s;
    border-radius: 1rem;
  }
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    max-width: 1200px;
    height: auto !important;
    margin: 2rem auto;
    transition: 0.5s;
    border-radius: 1rem;
  }
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}
